

.section-order-status {
    background-color: #ebebeb;
}

.order-status {
    padding: 80px 70px;
}

.order-status-div {
    margin: 30px 40px;
    transition: 0.4s;
    box-shadow: 2px 8px 17px #848484;
}

.order-status .order-status-div .order-status-div-hdr {
    background-color: #39b54a;
    padding: 10px 20px;
}

.order-status .order-status-div .order-status-div-hdr p {
    margin-bottom: 0;
    color: white;
    font-size: 22px;
    font-weight: bold;
}






.order-status .order-status-div .order-status-div-body {
    background-color: white;
    padding: 0px 20px 35px;
}

.order-status-div-body .item {
    padding: 30px 20px 20px 20px;
}

.form-item {
    margin-top: 30px;
}

.data-cell img {
    border: 15px solid #f7931e;
}

.data-cell-label-title {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.data-cell-label-category {
    color: #9e9e9e;
    font-size: 14px;
}

.data-cell-label-category i {
    color: #662d91;
}

.data-cell-label-serviceProvider,
.data-cell-label-date {
    color: #9e9e9e;
    font-size: 14px;
}

.data-cell-label-serviceProvider i {
    color: #662d91;
}

.data-cell-label-price {
    color: #f7931e;
    font-size: 17px;
    font-weight: bold;
}

.col-data-3 {
    display: flex;
    flex-flow: column;
    margin-right: 30px;
}

.cont-btn {
    background-color: #f7931e;
    border-radius: 0px;
    padding: 5px 20px;
    color: white;
    transition: 0.4s;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-left: 10px;

}
.address-col-info{
    margin-top: 50px;
}
.cont-btn:hover {
    background-color: rgb(209, 117, 12);
    color: white;
}

.cont-btn:focus {
    box-shadow: unset !important;
}

.resend-btn {
    background-color: #ed1c24;
    border-radius: 0px;
    padding: 5px 20px;
    color: white;
    transition: 0.4s;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.resend-btn:hover {
    color: white;
    background-color: #d81117;
}

.resend-btn:focus {
    box-shadow: unset !important;
}
@media (max-width: 1100px) {
    .order-status {
        padding: 30px 40px;
    }

    .order-status .order-status-div .order-status-div-hdr p {
        font-size: 19px;
    }
}

@media (max-width: 992px) {
    .order-status-div {
        margin: 50px 20px;
    }

    .data-cell {
        margin-top: 10px;

    }

    .form-item-cell {
        margin-top: 15px;
    }

    .data-cell-label-title {
        font-size: 14px;
        margin-bottom: 3px 0px;
    }

    .data-lable {
        font-size: 13px;
    }

    .order-status .order-status-div .order-status-div-body {
        padding: 10px 0px;
    }
}

@media (max-width: 900px) {
    .order-status {
        border-width: 7px;
    }

    .order-status .order-status-div .order-status-div-hdr p {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    .order-status {
        padding: 10px 10px;
    }

    .order-status .order-status-div .order-status-div-hdr p {
        font-size: 14px;
    }

    .data-cell-label-title {
        font-size: 13px;
    }

    .data-lable {
        font-size: 12px;
    }
    .div-4{
        width: 100%;
    }
    .cont-btn{
        margin: auto;
        display: block;
    }
}

@media (max-width: 575px) {
    .order-status .order-status-div .order-status-div-body {
        padding: 10px 0px;
    }

    .col-data-3 {
        margin-right: 0px;
        margin-top: 30px;
    }

    .div-2, .div-3{
        width: 50% !important;
    }
}

@media (max-width: 450px) {
    .order-status {
        padding: 10px 0px;
    }
}