.paymentModal-hdr{
    background-color: #0071bc;
    border-radius: 0px;
    color:white;
}
.paymentModal-hdr button{
    color: white;
    transition: 0.4s;
}
.paymentModal-hdr button:hover,
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    color: white;
    margin-top: -1.3rem;
}

/* body */
.paymentModal-body{
    padding: 3rem 2rem;
}
.datePickerDiv{
    direction: ltr !important;
}

/* datePicker */
.gj-datepicker .btn-outline-secondary{
    display: none !important;
}
.gj-unselectable{
    direction: ltr;
}
.gj-picker-bootstrap div[role=navigator] div:first-child,
.gj-picker-bootstrap div[role=navigator] div:last-child{
    transform: rotateY(180deg);
 }
/* footer */
.paymentModal-footer .paymentModal-btn{
    border-radius: 0px;
    padding: 5px 16px;
    font-size: 14px;
    border: 1px !important;
}
.paymentModal-footer .paymentModal-btn-save{
    background-color: #0071bc !important;
}
.paymentModal-footer .paymentModal-btn-save:hover{
    background-color: #085588 !important;
}

.data-cell-label-title{
    font-size: 14px;
}
.required-star{
    color: red;
}
.txtBox-name {
    background-color: transparent !important;
    border: none !important;
    border: 1px solid #b9b9b9 !important;
    border-radius: 0px !important;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    height: auto;
    color: rgb(129, 129, 129);
    font-size: 15px;
    font-weight: bold;
  }
  .form-control.is-invalid,
  .was-validated .form-control:invalid,
  .custom-select.is-valid,
  .form-control.is-valid,
  .was-validated .custom-select:valid,
  .was-validated .form-control:valid {
      background-image: unset !important;
      padding-right: 10px;
  }

  .form-control.is-invalid,
  .was-validated .form-control:invalid {
      border-color: red !important;
      background-position: left;
  }