.section-rateItem hr {
    border-bottom: 1px solid #ababab;
}

.section-rateItem {
    background-color: #ffffff;
}

.rateItem {
    padding:30px 30px;
}

.rateItem-div {
    margin: 30px 40px;
    transition: 0.4s;
    box-shadow: 2px 8px 17px #848484;
}

.rateItem .rateItem-div .rateItem-div-hdr {
    background-color: #39b54a;
    padding: 10px 20px;
}
.rate-div{
    display: flex;
    justify-content: center;
}
.rateItem .rateItem-div .rateItem-div-hdr p {
    margin-bottom: 0;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.rateItem-div-body{
    padding: 40px 60px;
    background-color: #f9f9f9;
    
}
.address-col-info{
    padding: 10px 0px; 
}
.address-col2 .address-col-info{
    padding: 20px 0px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.address-col2 a{
    color:black;
    cursor: pointer;
}
.address-col-info div{
    color: black ;
    font-size: 25px !important;
}

.btn-submit-div {
    display: flex;
    margin-top: 0px;
}
.btn-submit {
    background-color: #1a87fe !important;
    color: white;
    border-color: #1a87fe !important;
    font-weight: bold;
    padding: 13px 0px 13px;
    margin-top: 20px;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 0px !important;
}

.btn-submit:hover {
    color: white;
    padding: 13px 80px;
    background-color: #1774d6 !important;
    border-radius: 20px !important;
    width: 30%;
}

.btn-submit:focus {
    box-shadow: unset !important;
    color: white !important;
}
@media (max-width: 1100px) {
    .rateItem {
        padding: 30px 40px;
    }
    .rateItem .rateItem-div .rateItem-div-hdr p {
        font-size: 19px;
    }
}

@media (max-width: 992px) {
    .rateItem-div {
        margin: 50px 20px;
    }
    .address-col2{
        margin-top: 60px;
    }
    .txtBox-name {
        width: 100%;
    }
    .data-cell-label-title {
        font-size: 16px;
        margin-bottom: 3px 0px;
    }
    .rateItem-div-body{
        padding: 30px 40px;
        background-color: #f9f9f9;
        box-shadow: 2px 8px 17px #848484;
    }
}

@media (max-width: 900px) {
    .rateItem {
        border-width: 7px;
    }
    .rateItem .rateItem-div .rateItem-div-hdr p {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    .rateItem {
        padding: 10px 10px;
    }
    .rateItem .rateItem-div .rateItem-div-hdr p {
        font-size: 14px;
    }
    .btn-submit{
        width: 90%;
    }
    .btn-submit:hover{
        width: 90%;
    }
    .data-cell-label-title {
        font-size: 13px;
    }
    .address-col-info{
        padding: 10px 0px; 
    }
    
    .rateItem-div-body{
        padding: 10px 30px;
        background-color: #f9f9f9;
        box-shadow: 2px 8px 17px #848484;
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .rateItem {
        padding: 10px 0px;
    }
    .info-title-data{
        display: block;
        margin-top: 10px;
    }
    .rateItem-div-body{
        padding: 10px 30px;
        background-color: #f9f9f9;
        box-shadow: 2px 8px 17px #848484;
        font-size: 13px;
    }
}