
/* special-services */



.services-item-col {
    margin: 40px 0px;
  }
  
  .services-item {
    padding: 10px;
    background-color: white;
    box-shadow: 2px 4px 8px #848484;
    transition: 0.4s;
    /* cursor: pointer; */
  }
  
  .services-item a {
    text-decoration: none;
  }
  .fav-icon{
    visibility: hidden;
    color:white;
  }
  .services-item:hover .on-item-option{
    width: 20%;
    z-index: 3;
    transition: 0.4s;
  }

  .services-item:hover .on-item-option:hover{
    background-color: gray;
    cursor: pointer;
    
  }
  div.popover-body{
    
  }

  .services-item:hover .fav-icon{
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    visibility: visible;
  }

  .services-item-info .item-name:hover {
    color: #0071bc;
    text-decoration: underline;    
  } 
  
  .services-item-header img {
    border: 2px solid gray;
  }
  
  .on-item-option{
    margin-top: -40px;
    width: 0%;
    position: relative;
    top: 45px;
    padding: 10px 15px;
    padding-right: 17px;
    background-color: rgba(128, 128, 128, 0.582);
    transition: 0.4s;
    z-index: -2;
  }

  .item-price {
    position: relative;
    width: 200px;
    height: 150px;
    background: #EEE;
    border: 1px dashed #777;
    position: relative;
  }
  
  .item-price :after {
    content: '';
    z-index: -1;
    transform: rotate(135deg);
    background: inherit;
    border: inherit;
    width: 106px;
    height: 106px;
    top: 21px;
    right: -53px;
    position: absolute;
  }
  
  .services-item-header .item-price span {
    text-decoration: none;
    color: black;
    z-index: 1;
  }
  
  
  .services-item-info {
    text-align: center;
    padding: 16px 5px;
  }
  
  .services-item-info .item-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  
  .services-item-info .item-details {
    padding: 15px 0px 0px 0px;
  }
  
  .services-item-info .item-details span {
    font-size: 15px;
    color: gray;
  }
  
  .services-item-info .item-details .services-provider {
    font-size: 15px;
    color: purple;
    transition: 0.4s;
  }
  .services-item-info .item-details .services-provider:hover {
    font-size: 15px;
    color: purple;
    text-decoration: underline;
  }
  
  .services-item-footer .services-item-btn {
    background-color: #0071bc;
    width: 100%;
    border-radius: 0px;
    color: white;
    padding: 10px 5px;
    box-shadow: 5px 5px 11px #848484;
    font-size: 18px;
    transition: 0.4s;
  }
  
  .services-item-footer .services-item-btn:hover {
    background-color: #1486d3;
  
  }
  
  @media (max-width: 700px) {
    .services-item-info .item-name {
      font-size: 14px;
      font-weight: bold;
      color: black;
    }
  }
  
  @media (max-width: 576px) {
    .services-item-col-div {
      width: 50%;
    }
  
    .services-item-info .item-details {
      padding: 10px 0px 0px 0px;
    }
  
    .services-item-info .item-details span {
      font-size: 12px;
    }
  
    .services-item-info .item-details .services-provider {
      font-size: 12px;
    }
  
    .services-item-footer .services-item-btn {
  
      padding: 7px 5px;
      font-size: 15px;
    }
  }
  
  @media (max-width: 400px) {
  
    .services-item-info .item-details {
      padding: 0px 0px 0px 0px;
    }
  
    .services-item-info .item-details span {
      font-size: 12px;
      color: gray;
    }
  
    .services-item-info .item-details .services-provider {
      font-size: 12px;
      color: purple;
    }
  
  }
  