@font-face {
    font-family: "cairo-bold";
    src: url('../fonts/Cairo-Bold.ttf');
}

@font-face {
    font-family: "cairo-regular";
    src: url('../fonts/Cairo-Regular.ttf');
}

body {
    direction: rtl;
    font-family: "cairo-regular";
}
